.beam {
    top: 132vh;
    z-index: 1000;
    will-change:
        transform,
        mask-image,
        -webkit-mask-image;

    will-change: transform;
    pointer-events: none;
}

.beam-edge {
  will-change: filter;
}
