@import "tailwindcss";

@theme {
  --color-main: #21839E;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

body {
  background: #F2F2F2;
  margin: 0;
  padding: 0;
}